//GOST UI 2
@font-face {
  font-family: 'GOSTUI2';
  src: url('fonts/gostui2/GOSTUI2-w170-regular.eot'),
  url('fonts/gostui2/GOSTUI2-w170-regular.woff') format('woff'),
  url('fonts/gostui2/GOSTUI2-w170-regular.ttf')  format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'GOSTUI2';
  src: url('fonts/gostui2/GOSTUI2-w450-medium.eot'),
  url('fonts/gostui2/GOSTUI2-w450-medium.woff') format('woff'),
  url('fonts/gostui2/GOSTUI2-w450-medium.ttf')  format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'GOSTUI2';
  src: url('fonts/gostui2/GOSTUI2-w706-bold.eot'),
  url('fonts/gostui2/GOSTUI2-w706-bold.woff') format('woff'),
  url('fonts/gostui2/GOSTUI2-w706-bold.ttf')  format('truetype');
  font-weight: 700;
}
